- var image_path = 'assets/img'
- var js_path = 'assets/js'
- var domain = 'https://imastodon.blue/sp/'
- var content_d_state = "comingsoon"
-
	var pages = {
		top : {
			url : 'index.html',
			name : 'LTL',
			title : 'LTL',
			image : ''
		},
		content_a : {
			url : 'a.html',
			name : 'コンテントA',
			title : 'コンテントA',
			image : ''
		},
		content_b : {
			url : 'b.html',
			name : 'コンテントB',
			title : 'コンテントB',
			image : ''
		},
		content_c : {
			url : 'c.html',
			name : 'コンテントC',
			title : 'コンテントC',
			image : ''
		},
		content_d : {
			url : 'd.html',
			name : 'コンテントD',
			title : 'コンテントD',
			image : ''
		}
	}