footer
	#post
		input#cwtgl(type="checkbox", name="cw")
		label.cwon(for="cwcheck")
		label.cwoff(for="cwcheck")
		textarea#cwtext(name="cwtext") もう時間がないんです！
		textarea#toot(name="toot") あふぅ
		select(name="privacy" size="1")
			option(value="他サーバに公開") 他サーバに公開
			option(value="身内") 身内
			option(value="鍵付き") 鍵付き
			option(value="DM") DM
		input#image(type="file", name="image")
		input#nsfwtgl(type="checkbox", name="nsfw")
		label.nsfwon(for="nsfwcheck")
		label.nsfwoff(for="nsfwwcheck")
		a(href="#") Toot!
