.status_wrapper(v-for="status in app.statuses")
  el-container.status
    el-aside(width="auto").status_avatar
      el-avatar(size="50" fit="fill" shape="square" :src="status.account.avatar")
    el-container.status_content
      el-main.status_text
        div(v-html="status.content")
          a.status_hashtag(href="#", v-for="tag in status.tags") {{ tag }}
      el-footer(height="auto").status_name
        div
          span.status_sc_name {{ status.account.display_name }}
          span.status_id @{{ status.account.username }}

