input#navtgl(type="checkbox", name="")
label.open(for="navtgl") 三
label.close(for="navtgl")
nav
	h1 imastodon.blue
	ul
		li
			a(href="#") LTL
		li
			a(href="#") HOME
		li
			a(href="#") FTL
		li
			a(href="#") #あおのざつだん
		li
			a(href="#") #imas_cg
		li
			a(href="#") #imas_ml
		li
			a(href="#") 検索
		li
			a(href="#") 通知