.status_wrapper
  padding 1px 5px
  .status
    min-height 50px
    width 100%
    margin-bottom 12px
    display flex
    .status_avatar
      padding-right 2px
    .status_content
      flex 1
      background-color #fff
      border 1px solid #999
      border-radius 10px
      padding 6px
      padding-bottom 0
      *
        text-decoration none
        color #000
      .status_text
        padding 5px
        display block
        font-size .16rem
      p
        margin 0
        padding 0
        .status_hashtag
          display inline-block
          background-color #aaf
          border 1px solid #999
          color #000
          border-radius 10px
          padding 1px
          margin 1px
          font-weight bold
          transition all .6s
          &:hover
            background-color #339
            color #fff
            border 1px solid #000
      .status_name
        display inline-block
        background linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,1) 70%, rgba(0,0,0,0))
        border-radius: 10px
        width 100%
        padding 1px
        margin 0 0 -1px -7px
        *
          color #fff
