html
	font-size 625%
body
	font-size .14em
	overflow-x hidden
	margin 0
	background #fdd
textarea
	background rgba(255,255,255,0.95)
	border 0
	font-size .13rem
	padding 1em 0 1em 1em
	border-radius 1em 0 0 1em
	box-sizing border-box