#post
	input
		display none
		&:checked + label
			color #0aa
			&::after
				content ""
				display block
				position absolute
				height 1em
				width .6em
				top 4px
				left 16px
				border-right .3em solid #0aa
				border-bottom .3em solid #0aa
				transform rotate(40deg)
	label
		padding-top 28px
		position relative
		top 0
		&::before
			content ""
			display block
			position absolute
			top 10px
			left 13px
			width 1em
			height 1em
			border 1px solid #999
			background-color #fff
			border-radius .3em
.post_top
	width calc(100% - 74px)
	height 60px
	padding-left 74px
	display flex
	textarea
		position absolute
		height 60px
		width calc(100% - 120px)
		right 0
		padding-top .5em
		padding-bottom .5em
.post_wrap
	padding-top 10px
	display flex
	height calc(100% - 70px)
	width 100%
.post_left
	display flex
	flex-direction column
	width 70px
	height 100%
	margin-right 2px
	.upload_imgs
		width 100%
		height calc(100% - 70px)
.post_right
	position relative
	width calc(100% - 72px)
	height 100%
	#toottext
		position absolute
		top 0
		left 0
		height calc(100% - 70px)
		width 100%
	.post_bottom
		position absolute
		bottom 0
		width 100%
		display flex
		justify-content flex-end
		&>*
			margin-top auto
			text-align center
#cm_post
	display inline-block
	height 70px
	width 100px
	font-size .3rem
	color #fff
	background-color #7dd
	padding-top 12px
	box-sizing border-box
