extends pug/_layout.pug

block vars
	include pug/_config.pug
	- var key = "top"
	- var page = pages[key]
block header_title
	h2 LTL
block contents
	article.status.status_pub
		.status_avater
			img(src=image_path+"/kinopikop.jpg", alt="")
		.status_content
			a.text(href="#")
				p クソビビりなので夕方には洞穴にこもって採掘してる
					a.status_hashtag(href="#") #Minecraft
			a.status_name(href="#")
				span.status_sc_name ぽきぽにく
				span.id @kinopikop
	article.status.status_pub
		.status_avater
			img(src=image_path+"/kinopikop.jpg", alt="")
		.status_content
			a.text(href="#")
				p いいやとりあえず買おう、コンビニ行ってくる
					a.status_hashtag(href="#") #Minecraft
					a.status_hashtag(href="#") #あおのざつだん
			a.status_name(href="#")
				span.status_sc_name ぽきぽにく
				span.id @kinopiko
	article.status.status_pub
		.status_avater
			img(src=image_path+"/kinopikop.jpg", alt="")
		.status_content
			a.text(href="#")
				p スマホアプリのマイクラ買おうか迷ってるんですけど買得なんですかね？PCに入れるのが良いとは思うんですけど自分のノーパソCeleronなので多分スマホの方がまともにできる
					a.status_hashtag(href="#") #あおのざつだん
			a.status_name(href="#")
				span.status_sc_name ぽきぽにく
				span.id @kinopiko
	article.status.status_pub
		.status_avater
			img(src=image_path+"/kinopikop.jpg", alt="")
		.status_content
			a.text(href="#")
				p ドラガリアロスト、解放されてる分のストーリー全部終わってしまってアプデ待ちになった……早く…早く続きを……
					a.status_hashtag(href="#") #あおのざつだん
			a.status_name(href="#")
				span.status_sc_name ぽきぽにく
				span.id @kinopiko
